include "config.path"

thread = 8
logpath = "../log"
--logger = logpath .. "/skynet.log"
harbor = 0
start = "gamelogic/main"	-- main script
bootstrap = "snlua bootstrap"	-- The service for bootstrap
cpath = root.."cservice/?.so"
-- daemon = "./skynet.pid"

debug_console = 8000
loglevel = "debug"
cluster = workdir .. "/gamelogic/config/cluster.config"
srvname = "warsrv_1"
